.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0;
  @include media("<=tablet") {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  @include media("<=phone") {
    height: 800px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .grid-item {
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: .7;
      transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
      transform: scale(1.03);
      // &:hover {
      //   scale: 1.2;
      // }
    }
  }

  .grid-item:hover > img {
    transform: scale(1.1);
  }
}
