.header{
  position: fixed;
  width: 100%;
  height: 128px;
  z-index: 4;
  @include media("<=phone"){
    height: 96px;
  }
  .logo{
    a{
      font-size: 1.2rem;
      letter-spacing: 0.3rem;
      color: $white;
      text-decoration: none;
      font-weight: 700;

    }
  }
  .nav-toggle{
    cursor: pointer;
    .hamburg-menu{
      width: 25px;
      span{
        margin-bottom: 0.4rem;
        width: 100%;
        background: $white;
        height: 2px;
        display: block;
      }
    }
    .hamburg-menu-close{

    }
  }
}